@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    @apply antialiased box-border;
    
}

html {
    scroll-behavior: smooth;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
  }

.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    @apply font-themeFont font-normal text-neutral-900;
}

.container {
    @apply max-w-[1390px] w-full px-[25px] mx-auto;
}

.container-xs-20 {
    @apply px-[20px]  md:px-[25px];
}

.counter {
    @apply absolute text-gray-50 text-[12px] top-[-13px] right-[-3px];
}

.cart.cart-active .counter {
    @apply text-amber-400 font-bold;
}

.cart svg path {
    @apply fill-gray-300;
}

.cart.cart-active svg path {
    @apply fill-amber-400;
}

ul.menu>li {
    @apply ml-[53px];
}

ul.menu>li>a {
    @apply text-gray-50 text-[16px] relative block duration-200 hover:text-amber-400;
}

ul.menu>li.active>a {
    @apply text-amber-400 font-bold;
}

.search-sm {
    @apply items-center h-[29px] border-[1.5px] border-white rounded-[3px] hidden lg:flex;
}

.search-sm-select>select {
    @apply w-[106px] mr-[3px] bg-gray-700  text-white px-[6px] text-[14px] focus:outline-none;
}

.search-sm-select>select>option {
    @apply   text-white py-2;
}

.search-sm-box {
    @apply flex items-center w-[242px] border-l-[1.5px] border-white px-[12px] h-full;
}

.search-sm-box>input {
    @apply bg-transparent text-[14px] pl-[9px] font-light text-white grow h-full focus:outline-none;
}

section {
    @apply py-[26px] md:py-[44px];
}

.search-list > label {
    @apply text-[14px] md:text-[16px] font-medium px-[14px] py-[8px] text-teal-600 border-x-2 border-t-2  md:border-x-4 md:border-t-4 border-transparent  cursor-pointer block relative;
}

.search-list input:checked + label {
    @apply border-teal-600 font-normal text-gray-700 bg-white after:content-[''] after:absolute after:w-full after:h-[4px] after:bg-white after:bottom-[-2px] md:after:bottom-[-4px] after:left-0 after:z-10;
}
 


.search-box {
    @apply w-full border-2 md:border-4 border-teal-600 h-[58px]  md:h-[64px] flex justify-between items-center px-[11px] relative bg-white;
}
.search-box > input { 
    @apply grow focus:outline-none text-neutral-900 text-[16px] md:text-[18px] font-light px-[9px];
}

.search-box > .submit-search { 
    @apply bg-teal-600 hover:bg-teal-700 duration-200 uppercase w-[74px] md:w-[111px] h-[34px] md:h-[39px] font-bold text-[14px] md:text-[18px] text-white tracking-[0px] md:tracking-[2px] rounded-[4px];
} 

.link-text
{
    @apply text-teal-600 hover:text-teal-700 duration-200 underline font-light text-[14px]  inline-block;
}


.slide-next {
    @apply bg-gradient-to-l  from-neutral-100 absolute w-[50px] h-[30px] top-[7px] right-0 z-10 flex items-center justify-end cursor-pointer md:hidden;
}
.search-results {
    @apply absolute top-[56px] md:top-[60px] inset-x-[-2px] md:inset-x-[-4px] border border-gray-400 bg-white z-20;
}

.search-results > ul {
    @apply flex flex-col;
}

.search-results > ul > li{ 
    @apply border-b border-gray-400 last:border-none;
}

.search-results > ul > li > a { 
    @apply flex px-[15px] py-[9px] md:py-[12px] duration-200 hover:bg-gray-50;
}

.search-results > ul > li > a > h5 {
    @apply text-[14px] text-teal-600 text-left truncate mr-[20px];
}

.badge {
    @apply flex border border-gray-400 text-gray-500 text-[13px] h-[20px] items-center px-[10px] rounded-[20px] ml-auto md:ml-0 grow-0 shrink-0 ;
}

.badge > img {
	@apply mr-[5px];
}

.col-box {
    @apply flex flex-col items-center text-center shadow-box p-[20px] border border-neutral-200;
}
.paragraph {
    @apply text-para-md md:text-para text-neutral-600;
}
.h2 {
    @apply text-h2-md md:text-h2 font-bold;
}
.breadcrumb {
    @apply flex flex-nowrap overflow-x-scroll overflow-y-hidden md:overflow-visible hide-scroll whitespace-nowrap;
}

.breadcrumb > li { 
    @apply text-[14px] text-slate-400 relative mr-[30px] after:absolute after:bg-arrow after:w-[5px] after:h-[8px] after:right-[-19px] after:top-[6px] last:after:hidden;
}

.breadcrumb > li > a { 
    @apply font-medium text-teal-600 hover:text-teal-700 duration-200;
}
.detail-list {
    @apply text-[14px] leading-[21px]
}
.detail-list > h5 {
    @apply  text-slate-400 mb-[5px]
}

.checkbox {
    @apply border-b border-neutral-400
}

.checkbox label { 
    @apply flex py-[15px] pl-[51px] pr-[20px] md:pr-[41px] cursor-pointer bg-check bg-[left_18px_top_20px] bg-no-repeat  
}

.checkbox input:checked + label {
    @apply bg-checked bg-light-green
}

.company-name {
    @apply text-[14px] md:text-[16px] leading-[34px] text-teal-600 duration-200 hover:text-teal-700;
}

.detail-section {
    @apply py-[20px] md:py-[34px];
}

.modal {
    @apply opacity-0 invisible;
}

.modal-show {
    @apply opacity-100 visible;
}